################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mongo-dotnet.tests/bin/Debug/net9.0
/mongo-dotnet.tests/obj/Debug/net9.0
/mongo-dotnet.tests/obj
